/* Estilos personalizados */

/* Establecer el color de fondo principal */
body {
    background-color: #f8f9fa;
  }

/* Personalizar el color de los enlaces */
a {
color: #0d6efd;
}

/* Establecer el tamaño de fuente del encabezado principal */
h1 {
font-size: 3rem;
}

/* Personalizar el color de los botones */
.btn-primary {
background-color: #0d6efd;
border-color: #0d6efd;
}

/* Personalizar el color de los botones cuando se les hace hover */
.btn-primary:hover {
background-color: #0b5ed7;
border-color: #0b5ed7;
}

/* Personalizar el color de los botones cuando se les hace focus */
.btn-primary:focus {
box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}

/* Personalizar el color de los botones cuando se les hace click */
.btn-primary:active {
background-color: #0a58c0;
border-color: #0a58c0;
}

/* Personalizar el color de los botones cuando están deshabilitados */
.btn-primary:disabled {
background-color: #adb5bd;
border-color: #adb5bd;
cursor: not-allowed;
}

/* Personalizar el color del texto en la barra de navegación */
.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
color: #fff;
}

/* Personalizar el color de fondo de la barra de navegación */
.navbar-dark {
background-color: #0d6efd;
}

/* Personalizar el color de fondo del pie de página */
.footer {
background-color: #f8f9fa;
}

/* Personalizar el color del texto en el pie de página */
.footer p {
color: #6c757d;
}