/* Personaliza los estilos de la tabla */
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
  }

  /* Personaliza los estilos de los encabezados de las columnas */
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }

  /* Personaliza los estilos de las celdas */
  .table td,
  .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }

  /* Personaliza los estilos de las celdas en la primera columna */
  .table tbody td:first-child {
    font-weight: bold;
  }

  /* Personaliza los estilos de las celdas de encabezado en la primera columna */
  .table thead th:first-child {
    border-top: none;
  }

  /* Personaliza los estilos de las celdas en la última columna */
  .table tbody td:last-child {
    text-align: right;
  }

  /* Personaliza los estilos de las celdas de encabezado en la última columna */
  .table thead th:last-child {
    text-align: right;
    border-top: none;
  }