{% load static %}
{% load django_bootstrap5 %}



<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
          {% block title %}{% endblock %}
        </title>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% bootstrap_messages %}
        <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"/>
        <link rel="icon" href="{% static '/favicon.ico' %}">
        <!-- Agrega aquí cualquier otra hoja de estilos o script que quieras incluir en todas tus páginas -->
    </head>
    <body>
        <header>
            <!-- Agrega aquí el código HTML de la cabecera de tu sitio web -->
        </header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'proyecto:vista_principal' %}">Mi Proyecto</a>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Crear
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <a class="dropdown-item" href="{% url 'proyecto:crear_entrada' %}">Crear entrada</a>
                  <a class="dropdown-item" href="{% url 'proyecto:crear_proyecto' %}">Crear proyecto</a>
                </ul>
              </div>


              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Acerca de</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

        <main>
          <div class="container">
            {% block content %}{% endblock %}
          </div>
        </main>
        <footer class="footer py-3">
            <div class="container">
                <div class="row">
                <div class="col-md-6">
                    <p class="text-muted">&copy; 2023 Mi Proyecto</p>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline float-md-end">
                    <li class="list-inline-item"><a href="{% url 'proyecto:vista_principal' %}">Inicio</a></li>
                    <li class="list-inline-item"><a href="#">Acerca de</a></li>
                    <li class="list-inline-item"><a href="#">Contacto</a></li>
                    </ul>
                </div>
                </div>
            </div>
            </footer>
        <!-- Agrega aquí cualquier otro script que quieras incluir al final de todas tus páginas -->
        {% comment %} <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script> {% endcomment %}
    </body>
</html>
