{% extends "base.html" %}

{# Load the tag library #}
{% load django_bootstrap5 crispy_forms_tags %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% comment %} {% crispy proyecto_form proyecto_form.helper %} {% endcomment %}

{% block title %} Crear proyecto {% endblock %}

{# Display a form #}
{% block content %}
<h1>Crear un proyecto nuevo</h1>
<form method="post" class="form">
  {% csrf_token %}
  {% crispy form %}
</form>
{% endblock %}
