{% extends "base.html" %}

{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load crispy_forms_tags %}


{% block title %} Crear entrada {% endblock %}

{# Display a form #}
{% block content %}
<h1>Crear una entrada nueva</h1>
<form method="post" class="form">
  {% csrf_token %}
  {% crispy form %}
</form>
{% endblock %}
