{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

<link rel="stylesheet" href="{% static 'css/tables.css' %}">

{% block title %}Inicio{% endblock %}
{% block content %}
<div class="container my-5">
  <h1 class="text-center mb-4">Bienvenido a la página de creación y gestión de proyectos</h1>

  <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Lista de proyectos</h2>
            <ul class="list-group">
              {% render_table table %}
              {% comment %} https://django-tables2.readthedocs.io/en/latest/pages/custom-rendering.html {% endcomment %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
        <div class="card-body">
          <h2 class="card-title">Lista de entradas</h2>
          <ul class="list-group">
              {% render_table entradas %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}